.container {
  width: 100%;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.col-1 {
  flex: 0 1 200px;
  border: 1px solid black;
}
.col-2 {
  flex: 1 1 auto;
  border: 1px solid black;
}
.col-3 {
  flex: 0 1 300px;
  border: 1px solid black;
}

// @media screen and (min-width: 0) and (max-width: 991px) {
//   body {
//     overflow-x: scroll;
//   }
// }
